//npm.pkg.github.com/:{{ (bitwardenFields "item" "github.com").npm_token.value }}
@thecvlb:registry=https://npm.pkg.github.com
always-auth=true
init-author-name=Mason Rhodes
prefix=/home/mason/.npm-global
