#clock,
#idle_inhibitor,
#wireplumber,
#backlight,
#battery,
#custom-headsetcontrol_battery,
#tra,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#keyboard-state,
#custom-menu,
#custom-headsetcontrol_battery.show,
#idle_inhibitor {
	padding: 0 10px;
}
  #custom-recorder {
  	font-size: 18px;
  	margin: 2px 7px 0px 7px;
  	color:#c9545d;
  }

  #custom-headsetcontrol_battery.show {
  	margin: 2px 7px 0px 7px;
  }

  #custom-headsetcontrol_battery.hide {
    margin: 0;
    padding: 0;
  }


@define-color base00 #101c32; @define-color base01 #004a79; @define-color base02 #ab4c51; @define-color base03 #ae97af;
@define-color base04 #d4b1b0; @define-color base05 #ffdea3; @define-color base06 #fff0cd; @define-color base07 #fff0c5;

@define-color base08 #33a295; @define-color base09 #06a1ad; @define-color base0A #b18498; @define-color base0B #82968d;
@define-color base0C #a584bb; @define-color base0D #cc7d4b; @define-color base0E #5999b2; @define-color base0F #8e8fa6;

* {
    font-family: "Rubik";
    font-size: 10pt;
}

window#waybar, tooltip {
    background: alpha(@base00, 1.000000);
    color: @base05;
}

tooltip {
    border-color: @base0D;
}
#wireplumber,
#pulseaudio,
#sndio {
    padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
    padding: 0 5px;
}
#upower,
#battery {
    padding: 0 5px;
}
#upower.charging,
#battery.Charging {
    padding: 0 5px;
}
#network {
    padding: 0 5px;
}
#network.disconnected {
    padding: 0 5px;
}
#user {
    padding: 0 5px;
}
#clock {
    padding: 0 5px;
}
#backlight {
    padding: 0 5px;
}
#cpu {
    padding: 0 5px;
}
#disk {
    padding: 0 5px;
}
#idle_inhibitor {
    padding: 0 5px;
}
#temperature {
    padding: 0 5px;
}
#mpd {
    padding: 0 5px;
}
#language {
    padding: 0 5px;
}
#keyboard-state {
    padding: 0 5px;
}
#memory {
    padding: 0 5px;
}
#window {
    padding: 0 5px;
}
.modules-left #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-center #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}
