source = {{ .chezmoi.homeDir }}/.config/hypr/configs/env.conf

$mainMod=SUPER

source = {{ .chezmoi.homeDir }}/.config/hypr/configs/style.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/configs/binds.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/configs/monitors.conf
source = {{ .chezmoi.homeDir }}/.config/hypr/configs/rules.conf

source = {{ .chezmoi.homeDir }}/.config/hypr/configs/exec.conf
