general {
  after_sleep_cmd=hyprctl dispatch dpms on
  lock_cmd=lock_cmd
}

listener {
  on-timeout=lock_cmd
  timeout=180
}

listener {
  on-resume=hyprctl dispatch dpms on
  on-timeout=hyprctl dispatch dpms off
  timeout=240
}

listener {
  on-timeout=systemctl suspend
  timeout=540
}
